body {
  font-family: 'Raleway', sans-serif;
}

#header {
  text-align: center;
  font-size: 32px;
  margin-top: 48px;
}

#subtitle {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

#state-tooltip {
  background-color: white;
  color: black;
  width: 200px;
  padding: 0;
  opacity: 0.95;
}

#state-tooltip:after {
  border-bottom-color: #CCCCCC;
  border-top-color: #CCCCCC;
}
