.poll-table-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poll-table {
  font-size: 14px;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.poll-link {
  font-size: 10px;
  margin-left: 5px;
}

.poll-table th {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.poll-table td.grid-title {
  text-align: left;
  padding: 8px;
}

.poll-table td {
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}

.poll-table td.winner {
  background-color: #fffbcb;
}

.poll-table tr:nth-child(even) td.winner {
  background-color: #e6e3b6;
}

.poll-table tr:nth-child(even) td {
  background-color: #eeeeee;
}
